.bold {
  font-weight: bold;  
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100dvh);
}

body {
  background-color: #efeae3;
  font-family: montserrat;
}

.section {
  scroll-snap-align: start;
  min-height: 100dvh;
}

/* navbar */
.topbar {
  width: 100%;
  display: flex;
  /* padding: 48px 56px; */
  justify-content: space-between;
  z-index: 2;
}

.topbar .title {
  font-weight: 900;
  font-size: 24px;
}

.topbar .navbar ul {
  display: flex;
}

.topbar .navbar ul .btn {
  border-radius: 32px;
  border: 2px solid #000;
  background: #efeae3;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-sizing: border-box;
  cursor: pointer;
}
.topbar .navbar ul .btn.selected {
  border: 2px solid #FF5016;
}

.topbar .navbar ul .btn:hover {
  border: 2px solid #FF5016;
}

.topbar .navbar ul .about {
  margin-right: 16px;
}

.topbar .navbar ul .projects {}


/* HOME  */

.ellipse {
  position: absolute;
  z-index: 2;
  top: 96px;
}

.circle {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.circle2 {
  right: 0;
  position: absolute;
  bottom: 0;
}

.home {
  min-height: 100dvh;
  padding: 48px 56px;
  display: grid;
  grid-template-rows: auto 2fr 1fr;
}

.home .title {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .title .name {
  font-size: clamp(3rem, 10vw, 8.7rem);
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 100px;
  z-index: 3;
}

.home .title .hr1 {
  border: 1.5px solid black;
  border-radius: 5px;
  width: 900px;
  align-self: end;
  z-index: 1;
  width: 100%;
}

.home .quote {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  justify-content: end;
  z-index: 2;
}

.home .quote .help {
  text-align: right;
  font-size: clamp(24px, 4vw, 50px);
  font-weight: 900;
  max-width: 600px;
  margin-bottom: 16px;
}

.hr2 {
  border: 1.5px solid black;
  border-radius: 5px;
  width: 100%;
}


/* section 2 */
.me {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  padding: 48px 56px;
  display: grid;
  position: relative;
}

.me .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.me .content .picture {
  width: 600px;
  height: 400px;
  margin-right: 100px;
}

.me .content .description {
  max-width: 765px;
  font-size: 16px;
}

.me .content .description .paragraph {
  margin-bottom: 16px;
  position: relative;
  z-index: 2;
}

.me .quote {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  justify-content: end;
  z-index: 2;
}

.me .quote .help {
  text-align: right;
  font-size: clamp(24px, 4vw, 50px);
  font-weight: 900;
  max-width: 600px;
  margin-bottom: 16px;
}

/*  */
.text {
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.titletext {
  font-size: 20px;
  font-weight: 900;
}

.textwork {
  font-size: 20px;
  font-weight: 500;
}

img {
  max-width: 600px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.work .jobs {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  padding: 48px 56px;
}

.work .jobs .job {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.work .jobs .job .image {
  width: 600px;
  height: 400px;
  margin-right: 56px;
}

.work .jobs .job .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 16px;
}

.work .jobs .job .title{
  margin-bottom: 24px;
  font-weight: bold;
}

.work .jobs .job .text .description {}

.work .footer {
  width: 100%;
  color: white;
  background: black;
  padding: 78px 56px;
}

.work .footer .title {
  z-index: 3;
  font-size: clamp(32px, 7vw, 50px);
  margin-bottom: 24px;
  font-weight: 900;
  text-align: right;
  position: relative;
}

.work .footer .hr {
  z-index: 3;
  width: 100%;
  border-top: 1px solid white;
  margin-bottom: 56px;
  position: relative;
}

.work .footer .links {
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.work .footer .links .link {
  z-index: 3;
  font-size: 24px;
}
.ellipse2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 1024px) {
  .me .content {
    flex-direction: column;
  }
  .me .content .picture {
    margin: 0 0 40px 0;
  }

  .topbar {
    margin-bottom: 56px;
  }

  .me .content .picture {
    margin-bottom: 80px;
    width: 100%;
  }

  .me .content .description {
    max-width: none;
  }

  .work .jobs .job {
    flex-direction: column;
    align-items: center;
  }
  .work .jobs .job .image {
    margin: 0 0 32px 0;
  }
}

@media only screen and (max-width: 834px) {
  .me .content {
    flex-direction: column;
  }
  .me .content .picture {
    margin: 0 0 40px 0;
  }

  .work .jobs .job {
    flex-direction: column;
    align-items: center;
  }
  .work .jobs .job .image {
    margin: 0 0 32px 0;
  }
}

@media only screen and (max-width: 700px) {
  .home .topbar {
    margin-bottom: 0;
  }

  .topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .topbar .title {
    margin-bottom: 24px;
  }

  
.topbar .navbar ul .btn {
  margin-right: 0px 
}

.topbar .navbar ul .btn {
  margin-right: 0px 
}
.topbar .navbar ul .about {
  margin-right: 40px 
}


}
