.border {
  padding: 3em;
  height: 100%;
  box-sizing: border-box;
}

.lines {
  background-image: url('./background.svg');
  background-color: #1e1e1e;
}


.main {
  height: 100%;
  background-color: #1e1e1e;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "nv nv nv"
  "ct ct ct"
  "md md md";
}

.text {
  align-self: center;
  text-align: center;
  width: 100%;
}

.nav {
  min-height: 136px;
  grid-area: nv;
}

.media {
  grid-area: md;
  min-height: 136px;
  padding-left: 65px;
display: flex;
align-items: center;  
}

.nav > ul > li {
  margin-right: 32px;
  display: inline-block;
  list-style: none;
  font-size: 24px;
}

.content {
  padding-left: 65px;
  grid-area: ct;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog-name {
  font-size: 140px;
  font-family: 'Cormorant Upright', serif;
  font-weight: 400;
  line-height: 0;
}

.author-name {  
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  line-height: 0;
}

.hr {
  width: 716px;
  height: 2px;
}

.wheel {
  grid-area: wh;
}

.app-name {
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 0;
  background-color: #1e1e1e;
}

.app-text {
  max-width: 768px;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: 200;
  background-color: #1e1e1e;
}

.app-link {
  font-size: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
  background-color: #1e1e1e;
  width: 200px;
}

.app-mail {
  font-size: 24px;
  letter-spacing: 0.3;
  font-weight: 600px;
  color: inherit;
  text-decoration: none;
  background-color: #1e1e1e;
}

.left {
  text-align: left;
}

.link {
  cursor: pointer;
}

.logo-medium {
  width: 80px;
  height: 80px;
  margin-right: 48px;
  background-color: #1e1e1e;
}

.logo-linkedin {
  width: 64px;
  height: 67px;
  background-color: #1e1e1e;
}